In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment', None)
import numpy as np

import utility_functions as fn

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
# manually define building names
buildingnames = ['YUAG',
                 'Berkeley',
                 'Hopper',
                 '304Elm',
                 'Davenport',
                 '38HH',
                 '320Temple',
                 '53Wall',
                 'Sprague',
                 'Malone',
                 'Trumbull',
                 '17HH']

# Consumption Data Processing

In [3]:
# read from csv into a new dataframe
raw = pd.read_csv('energy_raw.csv',index_col=0,na_values=['#########'])

# reindex by appropriate datetime
raw.index = pd.to_datetime(raw.index,format='%a %m/%d/%y %H:00')

# add missing rows by full reindexing
correct_dt = pd.DatetimeIndex(start='2018-01-01 00:00:00',end='2018-07-27 23:00:00',freq='h')
raw = raw.reindex(index=correct_dt)

# remove built-in demand values, which tend to be bugged
raw = raw.drop(raw.columns[np.arange(0,len(buildingnames)*2,2)], axis=1)

# rename columns accordingly
raw.columns = buildingnames

In [4]:
# remove impossible outliers indicated by negative percent change
raw_head = raw.iloc[0]
raw = raw.where(raw.pct_change(limit=1)>0)
raw.iloc[0] = raw_head

# not currently implemented method to find outliers 
# tau = 0.0005 * (raw.max()-raw.min())
# raw = raw.where(raw.pct_change(limit=1)<tau)

,YUAG,Berkeley,Hopper,304Elm,Davenport,38HH,320Temple,53Wall,Sprague,Malone,Trumbull,17HH
2018-01-01 00:00:00,7929946.5,7241231.2,2766963.5,1109119.8,4306847.8,3164052.8,94018.2,3024576.8,358345.5,6543549.3,4441711.2,8929603.5
2018-01-01 01:00:00,7930103.6,7241300.8,2767051.1,1109124.4,4306942.8,3164055.9,94019.9,NaN,358379.5,6543660.7,4441765.7,NaN
2018-01-01 02:00:00,7930256.8,7241359.7,2767125.7,1109129.0,4307035.7,3164058.5,94021.8,3024609.2,358411.2,6543770.8,4441818.0,8929905.7
2018-01-01 03:00:00,7930426.2,7241423.3,2767205.3,1109133.8,4307137.8,3164061.8,94023.8,3024625.3,358443.5,6543892.0,4441878.8,8930055.8
2018-01-01 04:00:00,7930598.0,7241486.5,2767284.2,1109138.8,4307237.7,3164065.0,94025.7,3024641.7,358475.8,6544010.3,4441940.3,8930205.0
2018-01-01 05:00:00,7930770.2,7241549.5,2767363.2,1109143.7,4307338.7,3164068.0,94027.8,3024658.3,358508.3,6544130.7,4441999.5,8930354.5
2018-01-01 06:00:00,7930939.0,7241613.0,2767443.8,1109148.7,4307439.5,3164071.0,94029.8,3024674.5,358540.5,6544250.2,4442061.2,8930503.5
2018-01-01 07:00:00,7931107.8,7241676.0,2767522.5,1109153.7,4307540.3,3164074.5,94031.8,3024690.3,358572.8,6544368.2,4442124.5,8930653.0
2018-01-01 08:00:00,7931280.0,7241745.8,2767602.5,1109158.3,4307641.8,3164077.5,94034.0,3024706.7,358605.2,6544489.0,4442184.8,8930803.2
2018-01-01 09:00:00,7931481.0,7241824.5,2767683.0,1109163.5,4307741.3,3164080.5,94036.2,3024722.3,358636.7,6544614.8,4442244.5,8930957.5
2018-01-01 10:00:00,7931726.8,7241902.8,2767761.0,1109168.8,4307841.3,3164083.5,94038.2,3024738.3,358667.7,6544735.0,4442302.8,8931111.7
2018-01-01 11:00:00,7931949.2,7241980.5,2767838.8,1109173.3,4307942.2,3164086.7,94040.3,3024754.7,358698.7,6544860.8,4442361.5,8931266.8
2018-01-01 12:00:00,7932169.3,7242058.5,2767919.8,1109179.2,4308045.0,3164090.0,94042.5,3024771.3,358729.8,6544986.3,4442423.3,8931424.5
2018-01-01 13:00:00,7932390.0,7242136.5,2767998.2,1109184.2,4308150.0,3164092.7,94044.2,3024788.0,358760.2,6545120.5,4442485.7,8931584.0
2018-01-01 14:00:00,7932588.0,7242215.0,2768076.7,1109189.0,4308255.2,3164096.0,94046.2,3024804.7,358789.7,6545252.7,4442544.2,8931746.8
2018-01-01 15:00:00,7932784.3,7242293.7,2768154.5,1109194.0,4308361.8,3164099.0,94048.5,3024821.5,358818.0,6545379.7,4442600.3,8931914.8
2018-01-01 16:00:00,7932981.3,7242373.0,2768229.2,1109198.8,4308468.0,3164102.3,94050.7,3024838.2,358850.0,6545511.0,4442657.0,8932087.0
2018-01-01 17:00:00,7933178.8,7242451.7,2768306.0,1109203.8,4308570.2,3164105.5,94052.8,3024854.3,358880.2,6545648.5,4442715.0,8932252.0
2018-01-01 18:00:00,7933376.0,7242530.7,2768387.7,1109208.7,4308672.8,3164109.0,94055.2,3024870.8,358912.0,6545786.5,4442777.7,8932419.2
2018-01-01 19:00:00,7933554.2,7242608.5,2768467.7,1109213.7,4308777.5,3164112.5,94057.2,3024887.3,358944.3,6545916.8,4442842.5,8932586.3
2018-01-01 20:00:00,7933703.0,7242681.0,2768546.8,1109218.3,4308880.7,3164116.0,94059.5,3024904.0,358976.3,6546041.7,4442903.8,8932749.5
2018-01-01 21:00:00,7933851.7,7242753.3,2768627.0,1109223.2,4308988.8,3164119.0,94061.7,3024920.3,359008.7,6546165.7,4442963.7,8932909.8
2018-01-01 22:00:00,7933999.0,7242820.2,2768707.8,1109228.0,4309099.5,3164122.0,94063.8,3024936.3,359041.0,6546288.8,4443022.3,8933068.8
2018-01-01 23:00:00,7934146.2,7242884.3,2768787.0,1109233.0,4309202.2,3164125.5,94066.0,3024952.3,359073.3,6546416.5,4443082.7,8933229.2
2018-01-02 00:00:00,7934294.8,7242950.0,2768865.8,1109237.8,4309303.3,3164128.5,94067.8,3024968.8,359105.7,6546544.7,4443145.7,8933392.2
2018-01-02 01:00:00,7934442.7,7243018.0,2768950.9,1109242.3,4309416.4,3164132.0,94068.9,NaN,359142.8,6546658.9,4443209.3,NaN
2018-01-02 02:00:00,7934587.8,7243075.0,2769023.3,1109247.5,4309513.3,3164135.0,94070.2,3025002.0,359172.7,6546767.3,4443264.5,8933694.3
2018-01-02 03:00:00,7934735.2,7243139.3,2769103.5,1109252.5,4309609.5,3164138.0,94072.3,3025018.5,359203.7,6546907.3,4443323.0,8933847.7
2018-01-02 04:00:00,7934864.5,7243203.3,2769180.8,1109257.3,4309699.2,3164141.0,94074.2,3025034.8,359234.7,6547033.2,4443381.0,8934003.5
2018-01-02 05:00:00,7934992.7,7243266.5,2769258.7,1109262.3,4309805.5,3164144.7,94076.0,3025051.3,359266.3,6547155.3,4443441.8,8934157.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-26 18:00:00,8887626.3,7689990.7,3227336.3,1149020.3,NaN,3189885.5,103438.5,3121472.0,582553.3,7216871.2,4930844.5,9677156.5
2018-07-26 19:00:00,8887882.2,7690110.2,3227403.0,1149033.0,NaN,3189895.5,103440.3,3121490.2,582617.2,7217019.8,4930981.7,9677314.3
2018-07-26 20:00:00,8888079.5,7690219.5,3227465.7,1149044.0,NaN,3189904.2,103442.0,3121508.3,582677.2,7217166.8,4931104.8,9677463.7
2018-07-26 21:00:00,8888246.0,7690337.2,3227537.2,1149053.0,NaN,3189912.7,103443.8,3121527.2,582731.3,7217307.2,4931217.0,9677606.3
2018-07-26 22:00:00,8888365.7,7690421.3,3227597.8,1149061.8,NaN,3189920.0,103445.5,3121546.2,582771.5,7217447.3,4931309.3,9677747.8
2018-07-26 23:00:00,8888480.5,7690499.3,3227665.3,1149070.0,NaN,3189927.8,103447.0,3121565.2,582814.0,7217589.8,4931409.0,9677886.2
2018-07-27 00:00:00,8888594.0,7690559.8,3227722.3,1149078.3,NaN,3189935.3,103448.8,3121583.5,582851.3,7217725.7,4931507.8,9678020.0
2018-07-27 01:00:00,8888714.0,7690627.9,3227792.1,1149086.7,NaN,3189943.4,103450.4,NaN,582886.3,7217859.7,4931602.9,NaN
2018-07-27 02:00:00,8888815.8,7690681.5,3227852.2,1149094.0,NaN,3189949.8,103452.0,3121621.3,582915.0,7217968.3,4931673.8,9678279.3
2018-07-27 03:00:00,8888928.8,7690744.8,3227927.7,1149102.2,NaN,3189957.2,103453.5,3121639.8,582949.0,7218093.7,4931744.8,9678402.8
2018-07-27 04:00:00,8889062.5,7690795.5,3227988.3,1149110.8,NaN,3189964.0,103455.0,3121658.2,582981.2,7218224.7,4931813.5,9678526.2
2018-07-27 05:00:00,8889177.0,7690855.8,3228059.5,1149119.7,NaN,3189971.2,103456.7,3121675.8,583016.0,7218344.0,4931881.0,9678649.2
2018-07-27 06:00:00,8889291.7,7690906.5,3228118.5,1149127.7,NaN,3189978.2,103458.5,3121696.0,583048.0,7218463.3,4931951.5,9678774.0
2018-07-27 07:00:00,8889421.5,7690990.8,3228193.5,1149137.0,NaN,3189984.8,103459.7,3121717.8,583081.3,7218580.3,4932040.0,9678902.7
2018-07-27 08:00:00,8889571.5,7691092.2,3228257.2,1149149.7,NaN,3189991.3,103461.2,3121736.5,583113.3,7218703.0,4932146.7,9679040.2
2018-07-27 09:00:00,8889763.0,7691228.3,3228326.0,1149163.8,NaN,3189999.8,103462.8,3121756.3,583156.2,7218841.2,4932266.8,9679182.0
2018-07-27 10:00:00,8890014.0,7691356.7,3228386.7,1149177.5,NaN,3190009.0,103466.2,3121777.8,583197.3,7218986.5,4932398.8,9679326.8
2018-07-27 11:00:00,8890293.7,7691496.5,3228460.8,1149191.5,NaN,3190021.0,103468.2,3121800.0,583244.3,7219144.5,4932527.8,9679483.3
2018-07-27 12:00:00,8890580.7,7691619.0,3228532.0,1149205.3,NaN,3190031.0,103470.2,3121825.7,583286.7,7219311.0,4932655.5,9679650.3
2018-07-27 13:00:00,8890871.5,7691749.7,3228602.3,1149218.7,NaN,3190043.5,103472.0,3121852.3,583338.3,7219476.5,4932795.2,9679822.5
2018-07-27 14:00:00,8891162.2,7691880.7,3228666.3,1149232.0,NaN,3190055.5,103473.8,3121877.8,583381.0,7219634.5,4932930.5,9679986.7
2018-07-27 15:00:00,8891454.5,7692021.0,3228731.3,1149244.8,NaN,3190068.8,103475.5,3121901.5,583430.5,7219794.0,4933054.8,9680149.2
2018-07-27 16:00:00,8891747.3,7692151.3,3228804.2,1149257.2,NaN,3190080.7,103477.5,3121926.0,583473.3,7219952.0,4933171.8,9680313.7
2018-07-27 17:00:00,8892038.5,7692265.0,3228872.0,1149269.0,NaN,3190092.5,103479.2,3121949.3,583521.3,7220110.5,4933286.5,9680477.5
2018-07-27 18:00:00,8892317.2,7692384.7,3228934.5,1149281.0,NaN,3190103.7,103481.2,3121970.3,583578.3,7220268.0,4933407.3,9680636.5
2018-07-27 19:00:00,8892531.2,7692498.5,3228993.2,1149292.8,NaN,3190112.2,103482.8,3121988.5,583643.2,7220424.7,4933537.2,9680789.2
2018-07-27 20:00:00,8892656.7,7692616.0,3229058.8,1149302.8,NaN,3190120.0,103484.5,3122005.8,583702.0,7220575.7,4933667.2,9680932.7
2018-07-27 21:00:00,8892771.8,7692717.8,3229118.2,1149311.0,NaN,3190127.3,103486.5,3122022.7,583747.0,7220724.0,4933784.3,9681071.8
2018-07-27 22:00:00,8892884.5,7692801.5,3229190.2,1149319.0,NaN,3190134.7,103488.3,3122039.5,583789.5,7220867.5,4933876.5,9681210.2
2018-07-27 23:00:00,8892997.5,7692875.5,3229248.2,1149326.2,NaN,3190141.2,103489.7,3122056.2,583831.3,7221003.5,4933964.2,9681342.3

In [ ]:
# interpolate gaps in consumption data 6 hours and shorter
for k in raw.columns:
    raw[k] = fn.limited_impute(raw[k],6)
    

raw

# Demand Data Processing

In [ ]:
# creates a new dataframe for the demand values, drops the first row
demand = raw.diff().drop(raw.index[0])

# saves head to replace later
demand_head = demand.iloc[0:4]

errors = demand.isnull().sum()
print(errors)

fn.plot_all(demand,'2018-01-01 01:00:00','2018-07-27 23:00:00')

In [ ]:
# Remove huge statistical outliers
demand = demand.where(demand > demand.median() - 2.5*demand.std())
demand = demand.where(demand < demand.median() + 5*demand.std())

new_errors = demand.isnull().sum() - errors
print(new_errors)
errors = demand.isnull().sum()

fn.plot_all(demand,'2018-01-01 01:00:00','2018-07-27 23:00:00')

In [ ]:
# iterative (SLOW) method to remove single spikes, unsure how helpful it is

# for k in demand.columns:
#     for i in range(len(demand)-1):
#         if (abs(demand.pct_change()[k][i]) > 0.5) & (abs(demand.pct_change()[k][i+1]) > 0.5):
#             demand[k][i] = np.NaN

            
new_errors = demand.isnull().sum() - errors
print(new_errors)
errors = demand.isnull().sum()

fn.plot_all(demand,'2018-01-01 01:00:00','2018-07-27 23:00:00')

In [ ]:
# remove errors by rolling min and max within 10-day chunks
chunk_size = 360
i=0

while i < len(demand):
    end = i+chunk_size
    if end > len(demand): end = len(demand)
    demand[i:end].where(demand[i:end] > demand[i:end].rolling(18).min().median()*0.7, inplace=True)
    demand[i:end].where(demand[i:end] < demand[i:end].rolling(18).max().median()*1.3, inplace=True)
    i = i+chunk_size


new_errors = demand.isnull().sum() - errors
print(new_errors)
errors = demand.isnull().sum()

fn.plot_all(demand,'2018-01-01 01:00:00','2018-07-27 23:00:00')

# Imputation

In [ ]:
dense_energy = demand.copy(deep=True)

# interpolate gaps shorter than 6 hours
for k in dense_energy.columns:
    dense_energy[k] = fn.limited_impute(dense_energy[k],6)
    
fn.plot_all(dense_energy,'2018-03-05 01:00:00','2018-03-10 23:00:00')

In [ ]:
# interpolate gaps longer than 6 hours, linear for now, to be replaced by squared-sinusoidal
dense_energy.interpolate(method='linear',inplace=True)

fn.plot_all(dense_energy,'2018-03-05 01:00:00','2018-03-10 23:00:00')

In [ ]:
# replace head for final export
dense_energy.iloc[0:4] = demand_head

# export to csv
dense_energy.round(1).to_csv('energy_clean.csv')

# unused code below

In [ ]:
# # this cell removes all consumption values BELOW first value

# # creates dataframe of repeated minimum (first) values, pretty workaroundy
# raw_mins = raw.copy(deep=True)
# raw_mins.loc[:,:] = raw.loc['2018-01-01 00:00:00'].values

# # sets all violating values to NaN
# raw = raw.where(raw >= raw_mins)

# # this unused line was an attempt to find outliers using std ranges
# # raw = raw.where(raw > raw.median() - 2*raw.std()).where(raw < raw.median() + 2*raw.std())

# raw.isnull().sum()

In [ ]:
# trying to plot daily average curves for buildings... matplotlib might support this somehow or i can write a fn

# raw = raw.iloc[:,[0]]

# raw['day'] = raw.index.day
# raw['hour'] = raw.index.hour

# raw_by_day = raw.resample('h').mean()
# raw_by_day = raw_by_day.set_index(['day','hour']).unstack('day')
# raw_by_day

In [ ]:
# OLD ATTEMPT to find outliers using tuner values

# comp = demand.take([1], axis=1)
# comp['rolling'] = comp.loc[:,'Berkeley'].rolling(4,min_periods=1).median()
# # demand.rolling(4,min_periods=1).median()*0.5

# comp['rollmin'] = comp.loc[:,'Berkeley'].rolling(8,min_periods=6).min()

# # fn.plot_all(comp,'2018-03-14 00:00:00','2018-06-20 00:00:00')

# fn.plot_feature(comp,'rollmin','2018-01-02 00:00:00','2018-07-25 00:00:00')

# comp['rollmin'].median()-comp['rollmin'].std()

# max_tuner = 1 # here i want higher values clipping more points
# min_tuner = 1

# # demand.std()/demand.median() # here high values indicate volatile, 

# demand = demand.where(demand > demand.rolling(8,min_periods=4).min() - (min_tuner - demand.std()/demand.median()))
                      
# demand = demand.where(demand < demand.rolling(8,min_periods=4).max() + (max_tuner - demand.std()/demand.median()))

# fn.plot_all(demand,'2018-01-02 00:00:00','2018-07-25 00:00:00')
# demand.isnull().sum()

In [ ]:
# iterative (bad performance) solution for single spikes, could work as supplement

# k='YUAG'

# for i in range(len(demand)-1):
#     if (abs(demand.pct_change()[k][i]) > 0.5) & (abs(demand.pct_change()[k][i+1]) > 0.5):
#         demand[k][i] = np.NaN

# fn.plot_all(demand,'2018-01-02 00:00:00','2018-07-25 00:00:00')
# demand.isnull().sum()